/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */


/*   ----- Variables  -----  */
:root {
    --navy:#2d2f32;
    --steel-blue:#73848E;
    --sage:#BABDB2;
    --ivory:#F4F3EF;
    --light-gray:#DDD8D2;

    /* --custom-embellishment-name:; */
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    background-color:;
    background-image:;
    color:;
    font-family:; /* Define with at least one font name and its related generic family name.*/
    margin:;
    padding:;
    max-width:;
  }
  
  /*  ----- Page layout blocks -----  */
  header {}
  main {}
  section {
    background-color: var(--ivory);
    border-radius: 6px;
    padding: 1%;
    margin: 5px;
  }
  article {
    background-color: var(--light-gray);
    margin: 5px;
    padding: 1%;
    border-radius: 6px;
    outline-width: 1px;
    outline-color: var(--navy);
  }
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
  footer {}
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color:#73848E;
  }
  a:hover {
    color: var(--navy);
  }
  a:active {
    color:aquamarine;
  }
  a:visited {
    color: var(--navy);
  }
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {}
  nav a {}
  nav a:hover {}
  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {} 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border-collapse:collapse;
    border-spacing: 10px;
  }
  caption {
    background-color:var(--ivory); 
    border:1px solid var(--sage); 
    color:var(--navy); 
    font-weight:bold; 
    padding:1% 0;
  }
  thead {}
  tbody {text-align:left;}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
    tr:nth-child(odd) {
      background-color:var(--light-gray);
    }
  th {
    background-color:var(--ivory);
    padding:10%, 0;
    text-align:center;
    
  }
  td {
    border-bottom:1px solid var(--sage);
    text-align: center;
    padding: 2px;
  }
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {
    
  }
  fieldset {}
    legend {}
  label {}
  button {}
  input {}
  select {}
    optgroup {}
    option {}
  textarea {}
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {}
    figcaption {}
    figure img {}
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}